<%= form_for @post do |f| %>
    <% if @post.errors.any? %>
        <p>There are errors :-/</p>
    <% end %>

    <div>
        <label>
            Title: <%= f.text_field :title %>
        </label>
    </div>
    <div>
        <label>
            Body: <%= f.text_area :body %>
        </label>
    </div>
    <%= f.submit %>
<% end %>
